{% extends 'master' %}
{% block content %}
<div class="photo-page">
  <header class="photos-header">
    <div class="container">
      <button class='photos-header__button'>
        <span class="photos-header__button--btn fa fa-plus-circle"></span>
      </button>
    </div>
  </header>
  <section class="form">
    <div class="container">
      <form action="/photos" method='POST' class="new-pic-form">
        {{ csrfField }}
        <div class="form-input">
          <input type="text" placeholder='Image URL' class="photo-url form-input__field">
        </div>
        <div class="form-input">
          <textarea class='photo-description form-input__field' placeholder='Image Caption'></textarea>
        </div>
        <div class="form-input__buttons">
          <button class="form-input__buttons--cancel form-button form-button__cancel">CANCEL</button>
          <button class="form-input__buttons--add form-button form-button__add"><span class="fa fa-picture-o"></span>Add Image</button>
        </div>
      </form>
    </div>
  </section>

  {# {% for item in sequence %}

  {% endfor %} #}
  {# use above for looping #}
  <main class="photos">
    <div class="container">
      <div class="row">
        <div class="row__item photo-box">
          <div class="photo-box__image">
            <img class="photo-box__image--img" src="http://placecage.com/200/200"></img>
          </div>
          <div class="photo-box__description">
            <p class="photo-box__description--text">
              description
            </p>
          </div>
        </div>
        <div class="row__item photo-box">
          <div class="photo-box__image">
            <img class="photo-box__image--img" src="http://placecage.com/200/100"></img>
          </div>
          <div class="photo-box__description">
            <p class="photo-box__description--text">
              description
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
