{% extends 'master' %}
{% block content %}
<main class="photos">

  <div class="container">
    <div class="row">
      <div class="row__item photo-box">
        <div class="photo-box__image">
          <img class="photo-box__image--img" src="http://placecage.com/200/200"></img>
        </div>
        <div class="photo-box__description">
          <p class="photo-box__description--text">
            description
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
