.row {
  background-color: $bg-gray;
  // width: calc(100% - 10rem);
  margin: 0 auto;

  &__item {
    width: calc(100% - 10rem);
    margin: 0 auto;
    background-color: $white;
  }
}

.photo-box {

  &__image {
    width: 100%;
    margin: 0 auto;

    &--img {
      width: 100%;
    }
  }

  &__description {
    padding: $gutter;
  }
}
