// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$max-content-width: 60rem;
$min-content-width: 10rem;
$gutter: 1rem;

@import 'font-awesome';
@import 'box-sizing';
@import 'photos';
@import 'header';
