// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$max-content-width: 60rem;
$min-content-width: 10rem;
$gutter: 1rem;
$hdr-blue: #3d6899;
$btn-blue: #082238;
$bg-gray: #e0e1e2;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'photos';
@import 'header';
